---
---

body {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: .05em;
}

img {
  max-width: 100%;
}

.bs-docs-masthead {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 20px;

  p.version {
    text-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 20px white;
    font-weight: bold;
  }
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right: 0;
}

.bs-docs-sidebar {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.bs-docs-sidebar .nav > li > a {
  font-size: 15px;
  &.tocH3 {
    font-size: 13px;
    padding-left: 3em!important;
  }
}

.bs-docs-sidebar .nav .nav > li > a {
  font-size: 14px;
}

.back-top-top {
  font-size: 13px;
}

.bs-docs-container {
    position: relative;
}

#jumbotron-header {
    position:relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 30%;
        background: linear-gradient(135deg, transparent 50px, white 50px);
    }
}

.MathJax span {
  color: unset !important;
}

.bs-docs-section {
  ul li {
    margin: 0.5ex auto;
  }
  h1, h2 {
    font-weight: bold;
  }
  h1 {
    font-size: 2em;
    padding-bottom: 0.5ex;
    border-bottom: 1px dashed lightgray;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }
  dl {
    border: 2px solid gray;
    padding: 10px;
    dd {
      text-indent: 2em;
      margin-top: 1ex;
    }
  }
}